In [1]:
# This is my personal data folder. Change to your own
dir = "/Users/piromast/Documents/Kaggle/SantanderData/"

In [244]:
# Import necessary stuff
from pandas import *
import numpy as np
import os.path
set_option("display.max_columns",50)

In [279]:
# Import data (first 1000 rows for now)
data=read_csv(os.path.join(dir,'train_ver2.csv'), nrows = 10000, skipinitialspace=True)

In [280]:
# Remove nans
#data.dropna(axis=1, how='all', inplace=True)
#data.dropna(how='any', inplace=True)
data.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>fecha_dato</th>
      <th>ncodpers</th>
      <th>ind_empleado</th>
      <th>pais_residencia</th>
      <th>sexo</th>
      <th>age</th>
      <th>fecha_alta</th>
      <th>ind_nuevo</th>
      <th>antiguedad</th>
      <th>indrel</th>
      <th>ult_fec_cli_1t</th>
      <th>indrel_1mes</th>
      <th>tiprel_1mes</th>
      <th>indresi</th>
      <th>indext</th>
      <th>conyuemp</th>
      <th>canal_entrada</th>
      <th>indfall</th>
      <th>tipodom</th>
      <th>cod_prov</th>
      <th>nomprov</th>
      <th>ind_actividad_cliente</th>
      <th>renta</th>
      <th>segmento</th>
      <th>ind_ahor_fin_ult1</th>
      <th>ind_aval_fin_ult1</th>
      <th>ind_cco_fin_ult1</th>
      <th>ind_cder_fin_ult1</th>
      <th>ind_cno_fin_ult1</th>
      <th>ind_ctju_fin_ult1</th>
      <th>ind_ctma_fin_ult1</th>
      <th>ind_ctop_fin_ult1</th>
      <th>ind_ctpp_fin_ult1</th>
      <th>ind_deco_fin_ult1</th>
      <th>ind_deme_fin_ult1</th>
      <th>ind_dela_fin_ult1</th>
      <th>ind_ecue_fin_ult1</th>
      <th>ind_fond_fin_ult1</th>
      <th>ind_hip_fin_ult1</th>
      <th>ind_plan_fin_ult1</th>
      <th>ind_pres_fin_ult1</th>
      <th>ind_reca_fin_ult1</th>
      <th>ind_tjcr_fin_ult1</th>
      <th>ind_valo_fin_ult1</th>
      <th>ind_viv_fin_ult1</th>
      <th>ind_nomina_ult1</th>
      <th>ind_nom_pens_ult1</th>
      <th>ind_recibo_ult1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2015-01-28</td>
      <td>1375586</td>
      <td>N</td>
      <td>ES</td>
      <td>H</td>
      <td>35.0</td>
      <td>2015-01-12</td>
      <td>0.0</td>
      <td>6.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>A</td>
      <td>S</td>
      <td>N</td>
      <td>NaN</td>
      <td>KHL</td>
      <td>N</td>
      <td>1.0</td>
      <td>29.0</td>
      <td>MALAGA</td>
      <td>1.0</td>
      <td>87218.10</td>
      <td>02 - PARTICULARES</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2015-01-28</td>
      <td>1050611</td>
      <td>N</td>
      <td>ES</td>
      <td>V</td>
      <td>23.0</td>
      <td>2012-08-10</td>
      <td>0.0</td>
      <td>35.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>I</td>
      <td>S</td>
      <td>S</td>
      <td>NaN</td>
      <td>KHE</td>
      <td>N</td>
      <td>1.0</td>
      <td>13.0</td>
      <td>CIUDAD REAL</td>
      <td>0.0</td>
      <td>35548.74</td>
      <td>03 - UNIVERSITARIO</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2015-01-28</td>
      <td>1050612</td>
      <td>N</td>
      <td>ES</td>
      <td>V</td>
      <td>23.0</td>
      <td>2012-08-10</td>
      <td>0.0</td>
      <td>35.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>I</td>
      <td>S</td>
      <td>N</td>
      <td>NaN</td>
      <td>KHE</td>
      <td>N</td>
      <td>1.0</td>
      <td>13.0</td>
      <td>CIUDAD REAL</td>
      <td>0.0</td>
      <td>122179.11</td>
      <td>03 - UNIVERSITARIO</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2015-01-28</td>
      <td>1050613</td>
      <td>N</td>
      <td>ES</td>
      <td>H</td>
      <td>22.0</td>
      <td>2012-08-10</td>
      <td>0.0</td>
      <td>35.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>I</td>
      <td>S</td>
      <td>N</td>
      <td>NaN</td>
      <td>KHD</td>
      <td>N</td>
      <td>1.0</td>
      <td>50.0</td>
      <td>ZARAGOZA</td>
      <td>0.0</td>
      <td>119775.54</td>
      <td>03 - UNIVERSITARIO</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2015-01-28</td>
      <td>1050614</td>
      <td>N</td>
      <td>ES</td>
      <td>V</td>
      <td>23.0</td>
      <td>2012-08-10</td>
      <td>0.0</td>
      <td>35.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>A</td>
      <td>S</td>
      <td>N</td>
      <td>NaN</td>
      <td>KHE</td>
      <td>N</td>
      <td>1.0</td>
      <td>50.0</td>
      <td>ZARAGOZA</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>03 - UNIVERSITARIO</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [281]:
# Import description table (describing the meaning of each column)
description = read_csv(os.path.join(dir,'column_description.csv'),encoding = 'latin1')
description

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Column name</th>
      <th>Description</th>
      <th>Variable type: 0: index, 1: continuous, 2: categorical, 3: date, 4: product</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>fecha_dato</td>
      <td>The table is partitioned for this column</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ncodpers</td>
      <td>Customer code</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ind_empleado</td>
      <td>Employee index: A active, B ex employed, F fil...</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>pais_residencia</td>
      <td>Customer's Country residence</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>sexo</td>
      <td>Customer's sex</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>age</td>
      <td>Age</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>fecha_alta</td>
      <td>The date in which the customer became as the f...</td>
      <td>3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>ind_nuevo</td>
      <td>New customer Index. 1 if the customer register...</td>
      <td>2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>antiguedad</td>
      <td>Customer seniority (in months)</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>indrel</td>
      <td>1 (First/Primary), 99 (Primary customer during...</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>ult_fec_cli_1t</td>
      <td>Last date as primary customer (if he isn't at ...</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11</th>
      <td>indrel_1mes</td>
      <td>Customer type at the beginning of the month ,1...</td>
      <td>2</td>
    </tr>
    <tr>
      <th>12</th>
      <td>tiprel_1mes</td>
      <td>Customer relation type at the beginning of the...</td>
      <td>2</td>
    </tr>
    <tr>
      <th>13</th>
      <td>indresi</td>
      <td>Residence index (S (Yes) or N (No) if the resi...</td>
      <td>2</td>
    </tr>
    <tr>
      <th>14</th>
      <td>indext</td>
      <td>Foreigner index (S (Yes) or N (No) if the cust...</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <td>conyuemp</td>
      <td>Spouse index. 1 if the customer is spouse of a...</td>
      <td>2</td>
    </tr>
    <tr>
      <th>16</th>
      <td>canal_entrada</td>
      <td>channel used by the customer to join</td>
      <td>2</td>
    </tr>
    <tr>
      <th>17</th>
      <td>indfall</td>
      <td>Deceased index. N/S</td>
      <td>2</td>
    </tr>
    <tr>
      <th>18</th>
      <td>tipodom</td>
      <td>Addres type. 1, primary address</td>
      <td>2</td>
    </tr>
    <tr>
      <th>19</th>
      <td>cod_prov</td>
      <td>Province code (customer's address)</td>
      <td>2</td>
    </tr>
    <tr>
      <th>20</th>
      <td>nomprov</td>
      <td>Province name</td>
      <td>2</td>
    </tr>
    <tr>
      <th>21</th>
      <td>ind_actividad_cliente</td>
      <td>Activity index (1, active customer; 0, inactiv...</td>
      <td>2</td>
    </tr>
    <tr>
      <th>22</th>
      <td>renta</td>
      <td>Gross income of the household</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23</th>
      <td>segmento</td>
      <td>segmentation: 01 - VIP, 02 - Individuals 03 - ...</td>
      <td>2</td>
    </tr>
    <tr>
      <th>24</th>
      <td>ind_ahor_fin_ult1</td>
      <td>Saving Account</td>
      <td>4</td>
    </tr>
    <tr>
      <th>25</th>
      <td>ind_aval_fin_ult1</td>
      <td>Guarantees</td>
      <td>4</td>
    </tr>
    <tr>
      <th>26</th>
      <td>ind_cco_fin_ult1</td>
      <td>Current Accounts</td>
      <td>4</td>
    </tr>
    <tr>
      <th>27</th>
      <td>ind_cder_fin_ult1</td>
      <td>Derivada Account</td>
      <td>4</td>
    </tr>
    <tr>
      <th>28</th>
      <td>ind_cno_fin_ult1</td>
      <td>Payroll Account</td>
      <td>4</td>
    </tr>
    <tr>
      <th>29</th>
      <td>ind_ctju_fin_ult1</td>
      <td>Junior Account</td>
      <td>4</td>
    </tr>
    <tr>
      <th>30</th>
      <td>ind_ctma_fin_ult1</td>
      <td>Màs particular Account</td>
      <td>4</td>
    </tr>
    <tr>
      <th>31</th>
      <td>ind_ctop_fin_ult1</td>
      <td>particular Account</td>
      <td>4</td>
    </tr>
    <tr>
      <th>32</th>
      <td>ind_ctpp_fin_ult1</td>
      <td>particular Plus Account</td>
      <td>4</td>
    </tr>
    <tr>
      <th>33</th>
      <td>ind_deco_fin_ult1</td>
      <td>Short-term deposits</td>
      <td>4</td>
    </tr>
    <tr>
      <th>34</th>
      <td>ind_deme_fin_ult1</td>
      <td>Medium-term deposits</td>
      <td>4</td>
    </tr>
    <tr>
      <th>35</th>
      <td>ind_dela_fin_ult1</td>
      <td>Long-term deposits</td>
      <td>4</td>
    </tr>
    <tr>
      <th>36</th>
      <td>ind_ecue_fin_ult1</td>
      <td>e-account</td>
      <td>4</td>
    </tr>
    <tr>
      <th>37</th>
      <td>ind_fond_fin_ult1</td>
      <td>Funds</td>
      <td>4</td>
    </tr>
    <tr>
      <th>38</th>
      <td>ind_hip_fin_ult1</td>
      <td>Mortgage</td>
      <td>4</td>
    </tr>
    <tr>
      <th>39</th>
      <td>ind_plan_fin_ult1</td>
      <td>Pensions</td>
      <td>4</td>
    </tr>
    <tr>
      <th>40</th>
      <td>ind_pres_fin_ult1</td>
      <td>Loans</td>
      <td>4</td>
    </tr>
    <tr>
      <th>41</th>
      <td>ind_reca_fin_ult1</td>
      <td>Taxes</td>
      <td>4</td>
    </tr>
    <tr>
      <th>42</th>
      <td>ind_tjcr_fin_ult1</td>
      <td>Credit Card</td>
      <td>4</td>
    </tr>
    <tr>
      <th>43</th>
      <td>ind_valo_fin_ult1</td>
      <td>Securities</td>
      <td>4</td>
    </tr>
    <tr>
      <th>44</th>
      <td>ind_viv_fin_ult1</td>
      <td>Home Account</td>
      <td>4</td>
    </tr>
    <tr>
      <th>45</th>
      <td>ind_nomina_ult1</td>
      <td>Payroll</td>
      <td>4</td>
    </tr>
    <tr>
      <th>46</th>
      <td>ind_nom_pens_ult1</td>
      <td>Pensions</td>
      <td>4</td>
    </tr>
    <tr>
      <th>47</th>
      <td>ind_recibo_ult1</td>
      <td>Direct Debit</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
</div>

In [282]:
# Select product column names and build indeces range
column_names = data.columns.values
product_names = [(i, s) for i, s in enumerate(column_names) if 'ind_' in s and '_ult1' in s]
product_indeces = [e[0] for e in product_names]
mInd = min(product_indeces)
MInd = max(product_indeces)
product_indeces_range = range(mInd,MInd)

In [283]:
product_names

[(24, 'ind_ahor_fin_ult1'),
 (25, 'ind_aval_fin_ult1'),
 (26, 'ind_cco_fin_ult1'),
 (27, 'ind_cder_fin_ult1'),
 (28, 'ind_cno_fin_ult1'),
 (29, 'ind_ctju_fin_ult1'),
 (30, 'ind_ctma_fin_ult1'),
 (31, 'ind_ctop_fin_ult1'),
 (32, 'ind_ctpp_fin_ult1'),
 (33, 'ind_deco_fin_ult1'),
 (34, 'ind_deme_fin_ult1'),
 (35, 'ind_dela_fin_ult1'),
 (36, 'ind_ecue_fin_ult1'),
 (37, 'ind_fond_fin_ult1'),
 (38, 'ind_hip_fin_ult1'),
 (39, 'ind_plan_fin_ult1'),
 (40, 'ind_pres_fin_ult1'),
 (41, 'ind_reca_fin_ult1'),
 (42, 'ind_tjcr_fin_ult1'),
 (43, 'ind_valo_fin_ult1'),
 (44, 'ind_viv_fin_ult1'),
 (45, 'ind_nomina_ult1'),
 (46, 'ind_nom_pens_ult1'),
 (47, 'ind_recibo_ult1')]

In [297]:
# Build a dataframe only with products
product_df = data.iloc[:,product_indeces_range]
products_array = product_df.values

In [285]:
# Build a Series with number of products and use description as indeces
desclist=description.iloc[product_indeces_range,1].tolist()
num_products = Series(product_df.sum().tolist(),index=desclist)
num_products

Saving Account                0.0
Guarantees                    0.0
Current Accounts           9296.0
Derivada Account              0.0
Payroll Account             369.0
Junior Account               67.0
Màs particular Account       12.0
particular Account            0.0
particular Plus Account       0.0
Short-term deposits           3.0
Medium-term deposits          2.0
Long-term deposits           85.0
e-account                   633.0
Funds                        22.0
Mortgage                      2.0
Pensions                      6.0
Loans                         2.0
Taxes                       106.0
Credit Card                 109.0
Securities                   32.0
Home Account                  0.0
Payroll                     218.0
Pensions                    240.0
dtype: float64

In [286]:
# Let's start scikit-learning
import sklearn.preprocessing, sklearn.pipeline

In [287]:
# Make dummy variable representation (onehot) for categorical variables
# Option 1: user label encoder on each column and onehot encoder on entire dataframe.
# This produces an encoding that will probably depend on the number of rows
pandas.options.mode.chained_assignment = None

le = sklearn.preprocessing.LabelEncoder()
oh = sklearn.preprocessing.OneHotEncoder()

# Select categorical variables
CatVariables = data.iloc[:,(description.iloc[:,2]==2).tolist()]

# Store label encoder for each column in a list (to undo encoding)
label_encoder_list = []

# Apply lable encoder to each column. Then apply onehot encoder to all the data array
for i, colname in enumerate(CatVariables):
    col = CatVariables[colname].tolist()
    
    CatVariables.iloc[:,i] = le.fit_transform(col)
    label_encoder_list.append(le)
    
OneHotFeatures = oh.fit_transform(CatVariables.values)

In [236]:
# # Make dummy variable representation (onehot) for categorical variables
# # Option 2: apply label encoder and onehot encoding on each column seperately
# # I use a pipeline here. All this doesn't work at the moment
# 
# pandas.options.mode.chained_assignment = None
# 
# le = sklearn.preprocessing.LabelEncoder()
# oh = sklearn.preprocessing.OneHotEncoder()
# encoder = sklearn.pipeline.Pipeline([('LabelEncoder',le),('OnehotEncoder',oh)])
# 
# # Select categorical variables
# CatVariables = data.iloc[:,(description.iloc[:,2]==2).tolist()]
# encoder_list = []
# for i, colname in enumerate(CatVariables):
#     le = sklearn.preprocessing.LabelEncoder()
#     oh = sklearn.preprocessing.OneHotEncoder()
#     #encoder = sklearn.pipeline.Pipeline([('LabelEncoder',le),('OnehotEncoder',oh)])
#     col = CatVariables[colname].tolist()
#     
#     CatVariables.iloc[:,i] = le.fit_transform(col)
#     
#     encoder_list.append(le)

In [312]:
# Build feature array including onehot features and continuous data
from scipy.sparse import hstack, coo_matrix
ContinuousVariables = data.iloc[:,(description.iloc[:,2]==1).tolist()].values
FeatureMatrix=hstack([OneHotFeatures, coo_matrix(ContinuousVariables.astype(np.float64))]).todense()
imputer = sklearn.preprocessing.Imputer(missing_values=0,strategy="mean",axis=0)
FeatureMatrix = imputer.fit_transform(FeatureMatrix)

/Users/piromast/Python35VirtualEnv/lib/python3.5/site-packages/numpy/ma/core.py:852: RuntimeWarning: invalid value encountered in greater_equal
  return umath.absolute(a) * self.tolerance >= umath.absolute(b)

In [326]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(C=1e5)
single_product = products_array[:,13]
logreg.fit(FeatureMatrix,single_product)
prediction = logreg.predict(FeatureMatrix)

In [327]:
from sklearn.metrics import classification_report
classification_report(single_product, prediction)

/Users/piromast/Python35VirtualEnv/lib/python3.5/site-packages/sklearn/metrics/classification.py:1113: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

'             precision    recall  f1-score   support\n\n        0.0       1.00      1.00      1.00      9978\n        1.0       0.00      0.00      0.00        22\n\navg / total       1.00      1.00      1.00     10000\n'

In [ ]:
from sklearn.model_selection import train_test_split