In [1]:
# This is my personal data folder. Change to your own
dir = "/Users/piromast/Documents/Kaggle/SantanderData/"

In [2]:
# Import necessary stuff
from pandas import *
import os.path

In [3]:
# Import data (first 1000 rows for now)
data=read_csv(os.path.join(dir,'train_ver2.csv'),nrows=1000)

In [48]:
# Import description table (describing the meaning of each column)
description = read_csv(os.path.join(dir,'column_description.csv'),encoding = 'latin1')
description

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Column name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>fecha_dato</td>
      <td>The table is partitioned for this column</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ncodpers</td>
      <td>Customer code</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ind_empleado</td>
      <td>Employee index: A active, B ex employed, F fil...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>pais_residencia</td>
      <td>Customer's Country residence</td>
    </tr>
    <tr>
      <th>4</th>
      <td>sexo</td>
      <td>Customer's sex</td>
    </tr>
    <tr>
      <th>5</th>
      <td>age</td>
      <td>Age</td>
    </tr>
    <tr>
      <th>6</th>
      <td>fecha_alta</td>
      <td>The date in which the customer became as the f...</td>
    </tr>
    <tr>
      <th>7</th>
      <td>ind_nuevo</td>
      <td>New customer Index. 1 if the customer register...</td>
    </tr>
    <tr>
      <th>8</th>
      <td>antiguedad</td>
      <td>Customer seniority (in months)</td>
    </tr>
    <tr>
      <th>9</th>
      <td>indrel</td>
      <td>1 (First/Primary), 99 (Primary customer during...</td>
    </tr>
    <tr>
      <th>10</th>
      <td>ult_fec_cli_1t</td>
      <td>Last date as primary customer (if he isn't at ...</td>
    </tr>
    <tr>
      <th>11</th>
      <td>indrel_1mes</td>
      <td>Customer type at the beginning of the month ,1...</td>
    </tr>
    <tr>
      <th>12</th>
      <td>tiprel_1mes</td>
      <td>Customer relation type at the beginning of the...</td>
    </tr>
    <tr>
      <th>13</th>
      <td>indresi</td>
      <td>Residence index (S (Yes) or N (No) if the resi...</td>
    </tr>
    <tr>
      <th>14</th>
      <td>indext</td>
      <td>Foreigner index (S (Yes) or N (No) if the cust...</td>
    </tr>
    <tr>
      <th>15</th>
      <td>conyuemp</td>
      <td>Spouse index. 1 if the customer is spouse of a...</td>
    </tr>
    <tr>
      <th>16</th>
      <td>canal_entrada</td>
      <td>channel used by the customer to join</td>
    </tr>
    <tr>
      <th>17</th>
      <td>indfall</td>
      <td>Deceased index. N/S</td>
    </tr>
    <tr>
      <th>18</th>
      <td>tipodom</td>
      <td>Addres type. 1, primary address</td>
    </tr>
    <tr>
      <th>19</th>
      <td>cod_prov</td>
      <td>Province code (customer's address)</td>
    </tr>
    <tr>
      <th>20</th>
      <td>nomprov</td>
      <td>Province name</td>
    </tr>
    <tr>
      <th>21</th>
      <td>ind_actividad_cliente</td>
      <td>Activity index (1, active customer; 0, inactiv...</td>
    </tr>
    <tr>
      <th>22</th>
      <td>renta</td>
      <td>Gross income of the household</td>
    </tr>
    <tr>
      <th>23</th>
      <td>segmento</td>
      <td>segmentation: 01 - VIP, 02 - Individuals 03 - ...</td>
    </tr>
    <tr>
      <th>24</th>
      <td>ind_ahor_fin_ult1</td>
      <td>Saving Account</td>
    </tr>
    <tr>
      <th>25</th>
      <td>ind_aval_fin_ult1</td>
      <td>Guarantees</td>
    </tr>
    <tr>
      <th>26</th>
      <td>ind_cco_fin_ult1</td>
      <td>Current Accounts</td>
    </tr>
    <tr>
      <th>27</th>
      <td>ind_cder_fin_ult1</td>
      <td>Derivada Account</td>
    </tr>
    <tr>
      <th>28</th>
      <td>ind_cno_fin_ult1</td>
      <td>Payroll Account</td>
    </tr>
    <tr>
      <th>29</th>
      <td>ind_ctju_fin_ult1</td>
      <td>Junior Account</td>
    </tr>
    <tr>
      <th>30</th>
      <td>ind_ctma_fin_ult1</td>
      <td>MÂ‡s particular Account</td>
    </tr>
    <tr>
      <th>31</th>
      <td>ind_ctop_fin_ult1</td>
      <td>particular Account</td>
    </tr>
    <tr>
      <th>32</th>
      <td>ind_ctpp_fin_ult1</td>
      <td>particular Plus Account</td>
    </tr>
    <tr>
      <th>33</th>
      <td>ind_deco_fin_ult1</td>
      <td>Short-term deposits</td>
    </tr>
    <tr>
      <th>34</th>
      <td>ind_deme_fin_ult1</td>
      <td>Medium-term deposits</td>
    </tr>
    <tr>
      <th>35</th>
      <td>ind_dela_fin_ult1</td>
      <td>Long-term deposits</td>
    </tr>
    <tr>
      <th>36</th>
      <td>ind_ecue_fin_ult1</td>
      <td>e-account</td>
    </tr>
    <tr>
      <th>37</th>
      <td>ind_fond_fin_ult1</td>
      <td>Funds</td>
    </tr>
    <tr>
      <th>38</th>
      <td>ind_hip_fin_ult1</td>
      <td>Mortgage</td>
    </tr>
    <tr>
      <th>39</th>
      <td>ind_plan_fin_ult1</td>
      <td>Pensions</td>
    </tr>
    <tr>
      <th>40</th>
      <td>ind_pres_fin_ult1</td>
      <td>Loans</td>
    </tr>
    <tr>
      <th>41</th>
      <td>ind_reca_fin_ult1</td>
      <td>Taxes</td>
    </tr>
    <tr>
      <th>42</th>
      <td>ind_tjcr_fin_ult1</td>
      <td>Credit Card</td>
    </tr>
    <tr>
      <th>43</th>
      <td>ind_valo_fin_ult1</td>
      <td>Securities</td>
    </tr>
    <tr>
      <th>44</th>
      <td>ind_viv_fin_ult1</td>
      <td>Home Account</td>
    </tr>
    <tr>
      <th>45</th>
      <td>ind_nomina_ult1</td>
      <td>Payroll</td>
    </tr>
    <tr>
      <th>46</th>
      <td>ind_nom_pens_ult1</td>
      <td>Pensions</td>
    </tr>
    <tr>
      <th>47</th>
      <td>ind_recibo_ult1</td>
      <td>Direct Debit</td>
    </tr>
  </tbody>
</table>
</div>

In [30]:
# Select product column names and build indeces range
column_names = data.columns.values
product_names = [(i, s) for i, s in enumerate(column_names) if 'ind_' in s and '_ult1' in s]
product_indeces = [e[0] for e in product_names]
mInd = min(product_indeces)
MInd = max(product_indeces)
product_indeces_range = range(mInd,MInd)

In [31]:
product_names

[(24, 'ind_ahor_fin_ult1'),
 (25, 'ind_aval_fin_ult1'),
 (26, 'ind_cco_fin_ult1'),
 (27, 'ind_cder_fin_ult1'),
 (28, 'ind_cno_fin_ult1'),
 (29, 'ind_ctju_fin_ult1'),
 (30, 'ind_ctma_fin_ult1'),
 (31, 'ind_ctop_fin_ult1'),
 (32, 'ind_ctpp_fin_ult1'),
 (33, 'ind_deco_fin_ult1'),
 (34, 'ind_deme_fin_ult1'),
 (35, 'ind_dela_fin_ult1'),
 (36, 'ind_ecue_fin_ult1'),
 (37, 'ind_fond_fin_ult1'),
 (38, 'ind_hip_fin_ult1'),
 (39, 'ind_plan_fin_ult1'),
 (40, 'ind_pres_fin_ult1'),
 (41, 'ind_reca_fin_ult1'),
 (42, 'ind_tjcr_fin_ult1'),
 (43, 'ind_valo_fin_ult1'),
 (44, 'ind_viv_fin_ult1'),
 (45, 'ind_nomina_ult1'),
 (46, 'ind_nom_pens_ult1'),
 (47, 'ind_recibo_ult1')]

In [37]:
# Build a dataframe only with products
product_df = data.iloc[:,product_indeces_range]

In [75]:
# Build a Series with number of products and use description as indeces
desclist=description.iloc[product_indeces_range,1].tolist()
num_products = Series(product_df.sum().tolist(),index=desclist)
num_products

Saving Account               0
Guarantees                   0
Current Accounts           928
Derivada Account             0
Payroll Account             34
Junior Account               8
MÂ‡s particular Account       1
particular Account           0
particular Plus Account      0
Short-term deposits          1
Medium-term deposits         0
Long-term deposits           6
e-account                   74
Funds                        1
Mortgage                     0
Pensions                     0
Loans                        1
Taxes                       10
Credit Card                 11
Securities                   5
Home Account                 0
Payroll                     19
Pensions                    21
dtype: int64